/*variables*/
:root {
  --color-red-one: #ff525d;
  --color-light-red: hsl(355, 100%, 74%);
  --color-dark-blue: hsl(208, 49%, 24%);

  --color-white: hsl(0, 0%, 100%);
  --color-grayish: hsl(240, 2%, 79%);
  --color-dark-grayish: hsl(207, 13%, 34%);
  --color-very-black-blue: hsl(240, 10%, 16%);

  --color-very-light-red: hsl(13, 100%, 72%);
  --color-red-two: hsl(353, 100%, 62%);

  --color-gray-blue: hsl(237, 18%, 21%);
  --color-desaturated-blue: hsl(237, 23%, 32%);

  --height-animation: 100rem;
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  min-height: 100vh;

  font-family: "Overpass", sans-serif;
}
/*header page*/
.header-page {
  background: rgb(255, 143, 112);
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(90deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 100%);
  background-size: 230vw, cover;
  background-position: right -96vw top -98vw, center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-white);

  border-bottom-left-radius: 10rem;
}
.header-page__tittle {
  margin-bottom: 3rem;
  font-size: 6.4rem;
}
.header-page__text {
  font-size: 2.1rem;
}
/*nav page ----------------------------*/
.nav-page {
  position: relative;

  width: 100%;

  display: flex;

  padding: 6rem 14rem;
  margin-bottom: 6rem;
}
.nav-page__image-menu {
  display: none;
}
.nav-page__box-logo {
  flex: 1 0 auto;

  margin-right: 8rem;
}
.nav-page__logo {
  display: block;
  width: 10rem;
}
.nav-page__box-menu {
  position: relative;

  flex: 1 1 100%;

  display: flex;
}
/*dropdown menu block*/
.dropdown-menu {
  display: flex;
  align-items: center;
}
.dropdown-menu__list {
  display: flex;

  list-style: none;
}
.dropdown-menu__content {
  display: flex;
  align-items: center;
}
.dropdown-menu__option {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu__option--margin {
  margin: 0 4rem;
}
.dropdown-menu__text {
  font-size: 1.6rem;

  cursor: pointer;

  display: flex;
  align-items: center;
}
.dropdown-menu__image {
  display: block;
  width: 1rem;

  margin-left: 1rem;

  transition-duration: 0.5s;
}
.dropdown-menu__image--transition {
  transform: rotate(180deg);
}
/*dropdown block*/
.dropdown {
  background-color: var(--color-white);
  position: absolute;
  display: block;

  top: 4rem;
  left: -1.5rem;
  max-height: 0px;
  overflow: hidden;

  padding-left: 2rem;
  padding-right: 6rem;

  border-radius: 1rem;

  opacity: 0;
  transition-duration: 0.5s;
}
.dropdown--show {
  /*padding: 3rem 2rem;*/

  padding-top: 3rem;
  padding-bottom: 3rem;
  opacity: 1;

  max-height: var(--height-animation);
}
.dropdown__list {
  list-style: none;
}
.dropdown__option {
  margin-bottom: 1rem;
}
.dropdown__option--margin-none {
  margin-bottom: 0rem;
}
.dropdown__link {
  color: var(--color-dark-blue);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 900;
}
/*united options block*/
.united-options {
  position: relative;
}
.united-options--position {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.united-options__content {
  display: inline-block;

  background-color: var(--color-white);

  padding: 1.2rem 2.6rem;

  border-radius: 5rem;
}
.united-options__content--mg-left {
  margin-left: 1rem;
}
.united-options__content--margin {
  margin-left: 1rem;
}
.united-options__link {
  display: inline-block;

  color: var(--color-red-two);
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;

  transform: translateY(5%);
}
.united-options--margin {
  margin-top: 6rem;
  margin-bottom: 16rem;
}
.united-options__content--transparent {
  background-color: transparent;
}
.united-options__link--transparent {
  color: var(--color-white);
}
.united-options__content--transparent-border {
  border: 0.1rem solid var(--color-white);
}
.united-options__content:hover {
  background-color: var(--color-light-red);
}
.united-options__content:hover a {
  color: var(--color-white);
}
.united-options__content--transparent:hover {
  background-color: var(--color-white);
}
.united-options__content--transparent:hover a {
  color: var(--color-red-two);
}
.united-options__link--transparent-border:hover {
  background-color: var(--color-white);
  color: var(--color-red-one);
}
/*work presentation section*/
.work-presentation {
  background-image: url(../images/illustration-editor-desktop.svg);
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position: center right -24rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-bottom: 16rem;
}
.work-presentation__title {
  color: var(--color-dark-blue);

  font-size: 3.8rem;
  text-align: center;

  padding-top: 12rem;
  padding-bottom: 4rem;
}
.work-presentation__box-text {
  align-self: flex-start;

  width: 55%;

  padding: 4rem 0;
  padding-left: 21rem;
}
.related-text--margin {
  margin-bottom: 6rem;
}
.related-text__title {
  color: var(--color-dark-blue);
  font-size: 3rem;

  margin-bottom: 4rem;
}
.related-text__text {
  font-family: "Ubuntu", sans-serif;
  color: var(--color-dark-grayish);
  font-size: 1.8rem;
  line-height: 3.5rem;
}
/*art presentation section*/
.art-presentation {
  background: rgb(44, 45, 63);
  background-image: url(../images/bg-pattern-circles.svg),
    linear-gradient(90deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 64vw, cover;
  background-position: left -20rem bottom -10rem, center;

  display: flex;

  color: var(--color-white);

  padding: 10rem 0;

  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
}
.art-presentation__box-image {
  flex: 0 1 45%;

  position: relative;
}
.art-presentation__image {
  display: block;

  width: 48rem;

  position: absolute;
  top: -16rem;
  right: 4rem;
}
.art-presentation__box-text {
  flex: 0 1 55%;

  padding-right: 22rem;
}
/*feactures presentation section*/
.features-presentation {
  background-image: url(../images/illustration-laptop-desktop.svg);
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position: center left -22.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 16rem 0;
}
.features-presentation__box-text {
  align-self: flex-end;

  width: 55%;

  padding: 4rem 0;
}
.features-presentation__box-text--padding {
  padding-right: 22rem;
}
.related-text__text--color {
  color: var(--color-white);
}
.related-text__title--color {
  color: var(--color-white);
}
/*footer page*/
.footer-page {
  background-color: var(--color-very-black-blue);

  padding: 8rem 14rem;

  display: flex;

  color: var(--color-white);
}
.footer-page__box-logo {
  margin-right: 14rem;
}
.footer-page__logo {
  display: block;

  width: 10rem;
}
/*page summary block*/
.page-summary--margin {
  margin: 0 18rem;
}
.page-summary__title {
  font-size: 1.4rem;

  margin-bottom: 4rem;
}
.page-summary__list {
  list-style: none;
}
.page-summary__option {
  margin-bottom: 1rem;
}
.page-summary__link {
  color: var(--color-grayish);
  text-decoration: none;
  font-size: 1.4rem;
}
@media screen and (max-width: 2600px) {
  html {
    font-size: 111.3%;
  }
}
@media screen and (max-width: 2000px) {
  html {
    font-size: 82.5%;
  }
}
@media screen and (max-width: 1680px) {
  html {
    font-size: 72.7%;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 69.3%;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 62.3%;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 60.5%;
  }
}
@media screen and (max-width: 1370px) {
  html {
    font-size: 58.5%;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 55.6%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 44.5%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 34.7%;
  }
}
@media screen and (max-width: 768px) {
  /*component*/
  html {
    font-size: 61.5%;
  }
  /*header page*/
  .header-page {
    background-image: url(../images/bg-pattern-intro.svg),
      linear-gradient(
        145deg,
        rgba(255, 143, 112, 1) 0%,
        rgba(255, 61, 84, 1) 100%
      );
    background-size: 350vw, cover;
    background-position: right -160vw top -65vw, center;

    text-align: center;

    border-bottom-left-radius: 10rem;
  }
  .header-page__tittle {
    font-size: 7rem;

    margin-bottom: 3rem;
    padding: 0 6rem;
  }
  .header-page__text {
    font-size: 3.8rem;

    padding: 0 6.5rem;
  }
  /*nave page*/
  .nav-page {
    align-items: center;

    padding: 6rem;
    padding-top: 12rem;
    margin-bottom: 18rem;
  }
  .nav-page__logo {
    width: 16rem;
  }
  .nav-page__image-menu {
    display: block;

    width: 6.5rem;
  }
  .nav-page__box-menu {
    background-color: var(--color-white);

    display: none;

    position: absolute;

    width: calc(100% - 8rem);

    left: 4rem;
    top: 26rem;

    /*display: flex;*/
    flex-direction: column;

    padding: 6rem;

    border-radius: 1.5rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.3);

    z-index: 200;
  }
  .nav-page__box-menu--show {
    display: flex;
  }
  .united-options--position {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);

    display: flex;
    flex-direction: column;

    padding: 0 12rem;

    border-top: 0.3rem solid var(--color-grayish);
  }
  /*dropdown menu block*/
  .dropdown-menu {
    justify-content: center;

    margin-bottom: 2rem;
  }
  .dropdown-menu__list {
    flex-direction: column;
    align-items: center;

    width: 100%;
  }
  .dropdown-menu__option {
    padding: 3rem 0;

    width: 100%;

    flex-direction: column;
  }
  .dropdown-menu__option--margin {
    margin: 0 4rem;
  }
  .dropdown-menu__text {
    font-family: "Ubuntu", sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    color: var(--color-dark-blue);

    margin-right: 2rem;
  }
  .dropdown-menu__image {
    width: 2.5rem;

    margin-left: 2rem;

    content: url(../images/icon-arrow-dark.svg);
  }
  /*dropdown block*/
  .dropdown {
    background-color: var(--color-grayish);
    display: block;

    width: 100%;

    position: relative;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;
  }
  .dropdown--show {
    padding: 6rem 0;
    margin-top: 3rem;
    max-height: var(--height-animation);
  }
  .dropdown__list {
    list-style: none;
  }
  .dropdown__option {
    margin-bottom: 6rem;
  }
  .dropdown__option--margin-none {
    margin-bottom: 0rem;
  }
  .dropdown__link {
    color: var(--color-dark-blue);
    font-size: 3.6rem;
  }
  /*united options block*/
  .united-options--margin {
    margin-top: 10rem;
    margin-bottom: 30rem;
  }
  .united-options__link {
    font-size: 3.4rem;
  }
  .united-options__link--color-movil {
    color: var(--color-dark-blue);
    font-size: 4.4rem;
  }
  .united-options__content {
    padding: 2.6rem 4.6rem;
  }
  .united-options__content--margin {
    margin: 3rem 0;
  }
  .united-options__content--mg-left {
    margin-right: 2rem;
  }
  .united-options__content--gradient {
    background: linear-gradient(
      90deg,
      rgba(255, 143, 112, 1) 0%,
      rgba(255, 61, 84, 1) 100%
    );
  }
  .united-options__content--gradient a {
    color: var(--color-white);
    font-size: 4rem;
  }
  /*work presentation section*/
  .work-presentation {
    background-image: url(../images/illustration-editor-mobile.svg);
    background-size: 110vw;
    background-position: center top 30rem;

    display: block;

    padding-bottom: 50rem;
  }
  .work-presentation__title {
    font-size: 5.2rem;
    margin-bottom: 80rem;
    padding-top: 16rem;
  }
  .work-presentation__box-text {
    align-self: none;

    width: 100%;

    text-align: center;

    padding: 4rem 0;
  }
  .related-text {
    padding: 0 6rem;
  }
  .related-text__title {
    font-size: 6.2rem;
  }
  .related-text__text {
    font-size: 3.5rem;
    line-height: 6.5rem;
  }
  /*art presentation section*/
  .art-presentation {
    background-image: url(../images/bg-pattern-circles.svg),
      linear-gradient(180deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 100%);
    background-size: 160vw, cover;
    background-position: center top -48rem, center;

    display: flex;
    flex-direction: column;

    color: var(--color-white);

    padding: 10rem 0;
    padding-bottom: 24rem;

    border-bottom-left-radius: 15rem;
    border-top-right-radius: 15rem;
  }
  .art-presentation__box-image {
    flex: 0 1 auto;

    position: relative;
    padding-top: 38rem;
  }
  .art-presentation__image {
    width: 100vw;
    top: -48rem;
    right: 0;
  }
  .art-presentation__box-text {
    flex: 0 1 auto;

    padding: 0;

    text-align: center;
  }
  .related-text__text--size {
    font-size: 6.2rem;
  }
  /*feactures presentation section*/
  .features-presentation {
    background-image: url(../images/illustration-laptop-mobile.svg);
    background-size: 135vw;
    background-position: center top 10rem;

    display: block;

    padding-top: 90rem;
    padding-bottom: 16rem;
  }
  .features-presentation__box-text {
    align-self: none;

    width: 100%;

    text-align: center;

    padding: 4rem 0;
  }
  /*footer page*/
  .footer-page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;

    padding: 14rem 0;

    border-top-right-radius: 15rem;
  }
  .footer-page__box-logo {
    margin: 0;
    margin-bottom: 16rem;
  }
  .footer-page__logo {
    width: 18rem;
  }
  /*page summary block*/
  .page-summary--margin {
    margin: 5rem 0;
  }
  .page-summary__title {
    font-size: 3.8rem;
    margin-bottom: 5rem;
  }
  .page-summary__option {
    margin-bottom: 2rem;
  }
  .page-summary__link {
    color: var(--color-grayish);
    text-decoration: none;
    font-size: 3.4rem;
    font-family: "Ubuntu", sans-serif;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 46.5%;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 44.5%;
  }
}
@media screen and (max-width: 426px) {
  html {
    font-size: 34.5%;
  }
}
@media screen and (max-width: 412px) {
  html {
    font-size: 33.5%;
  }
}
@media screen and (max-width: 376px) {
  html {
    font-size: 30.5%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 28.5%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 25%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 22.5%;
  }
}
